.wrapper{
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  color: #262626;
  font-family: var(--font-roboto);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.iconWrapper{
  color: transparent;
}