.wrapper {
  height: 40px;
  color: #FFFFFF;
  background: #262626;
  overflow: hidden;
  position: relative;
  margin-top: 24px;
  border-radius: 0 0 12px 12px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    transform: translate(100%, 0);
  }

  p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .firstPart, .secondPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker 20s infinite linear forwards;
  }

  .secondPart {
    animation: 20s ticker 20s/2 infinite linear forwards;
  }
}


@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}