.wrapper{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.news{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.title{
  color: #262626;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.time{
  color: #838383;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 20px;
  color: #FFF;
  background: #FF6B00;
  font-family: var(--font-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}