.wrapper{
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  border-radius: 12px;
  background: #FFF;
}

.header{
  color: #262626;
  font-family: var(--font-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link{
  color: #848484;
  font-family: var(--font-roboto);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.main{
  width: 240px;
  height: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: rgba(19, 19, 19, 0.42);
}

.footer{
  color: #262626;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

